body {
  background-image: linear-gradient(to bottom, #8637CA, #030437);
  background-repeat: no-repeat;
  height: 100vw;
  background-color: #030437;
  font-family: 'Merienda';
  font-size: large;
}  

.banner {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 1%;
  color: #030437;
}

.content {
  background-color:#c78bfc97;
  width: 90%;
  margin: auto;
  font-size: 16px;
}

.heading {
  text-align: center;
  color: #030437;
  width: 100%;
  margin: auto;
  padding-top: 1%;
  background-color: #c78bfc;
}

.video{
  display: block;
  text-align: center;
  position: relative;
  width: auto;
  margin: auto;
}

p {  
  width: 90%;
  margin: auto;
  padding-top: 3%;
  font-family: 'Merienda';
}

.subheading{
  text-align: center;
  color: #030437;
  width: 100%;
  margin: auto;
  padding-top: 1%;
  background-color: #c78bfc;

}

.title_heading {
  text-align: center;
  color: #030437;
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
  padding-top: 1%;
  background-color: #c78bfc;
}


.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 82%;
  margin-top: 0%;
  margin-right: auto;
  margin-bottom: 2%;
  margin-left: auto;
  padding-top: 1%;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom:1%;

  background-color: #c78bfc;
  text-align: center;

}

#title_image {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;

}

.button:visited {
  color: #c78bfc;
}

.button:hover {
  background-color: #030437;
  color: #c78bfc;
  margin: 0%;
 padding: 0%;

} 

.aboutme{
  position: relative;
  margin: auto;
}

.about_me_info{
  margin: auto;
}
.about_me_image{
  position: relative;
  border-radius: 50%;
  background-color: black;
  width: 20%;
  margin: auto;
  margin-top: 2%;
  margin-left: 2%;
 
}

div.static_info{
  position: relative;
}

#cake_image{
  position: absolute;
  left: 80%;
  top: 15%;
  width: 15%;

}

#donkey_image {
  position:fixed;
  bottom: 0;
  right: 0;
  width: 10%;
}


.red_bg {
  background-color: red;
  color: white;
}

.orange_bg {
  background-color: orange;
  color: white;
}

.yellow_bg {
  background-color: yellow;
  color: black;
}

.green_bg {
  background-color: green;
  color: white;
}

.blue_bg {
  background-color: blue;
  color: white;
}

.indigo_bg {
  background-color: indigo;
  color: white;
}

.violet_bg {
  background-color: violet;
  color: white;
}

.green_text{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(13, 71, 13);
  font-size: larger;
  font-weight: 800;
}

#W3S_img{
  width:80%;
  display: flex;
  justify-content: center;
  margin:auto;
}

#shrek_img{
  width: 20%;
  display: flex;
  justify-content: center;
  margin:auto;

}


#fiona_img{
  width: 10%;
  display: flex;
  justify-content: center;
  margin:auto;
}

div.clear{
  width:80%;
  display: flex;
  justify-content:left;
  margin:auto;
}

#shrek_img_relative{
  position: relative;
  width: 20%;
  left: 10%;

}


#fiona_img_relative{
  position: relative;
  width: 10%;
  left: 20%;

}

#relative_code_img{
  width: 40%;
  display: flex;
  justify-content: center;
  margin:auto;
}

.post_overview{
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  flex-wrap: wrap;
  
  
}

.post{
  width: 330px;
  background-color: #030437;
  color: azure;
  margin: auto;
  padding-bottom: 2%;
}

.post_img{
  width: 100%;
  background-color:#030437;

}

.Q_A{
  width: 100%;
  margin: auto;
}


.rainbow {
  width: 85%;
  list-style-type: none;
  list-style: none;
 padding: auto;
 margin:auto;
 margin-left: -2%;

  
}

.question {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.questionx {
  width: 90%;
  margin: auto;
  font-size: 18px;
}

.EQ-Image{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
}

/*Media Queries*/

@media (max-width: 400px){
  .navigation{
font-size: 12px;
  }

p {
  font-size: 12px;
}

.content {
  font-size: 12px;
}

  .heading {
    font-size: 20px;
  }

  .subheading {
    font-size: 20px;
  }

  .title_heading{
    font-size: 25px;
  }

  .video {
    width: 200px;
    margin: auto;
  
  }

  .questionx {
    width: 90%;
    margin: auto;
    font-size: 14px;
  }

  .rainbow {
width: 150px;
margin-left: -2%;
  }
  }

  /*JS FUNDAMENTALS*/

.picture-heading {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

  .js-image{
    width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .long-image{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .js-list{
    margin-left: 12%;
  }


  @media (max-width: 400px){
    .js-image{
  width: 250px;
    }

    .picture-heading {
      width: 90%;
      margin: auto;
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
    }


  }

/*mediaquery thing for width of under 480 so that navigation bar doesn't screw up
/@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }*/



/*to experiment with later
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li {
  background: #555;
  display: block;
}
ul li ul li a {display:block !important;}
ul li ul li:hover {background: #666;}
*/