/* General Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.6rem;
  background-color: #9b8e89;
  text-align: center;
}

/* Calculator Style */
.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f3eee7;
  margin: 15rem auto;
  padding: 2rem;
  width: 30rem;
  height: 40rem;
  border-top-left-radius: 80%20px;
  border-top-right-radius: 80%20px;
  border-bottom-left-radius: 80%20px;
  border-bottom-right-radius: 80%20px;
  box-shadow: 0px 0px 15px -5px black, inset 5px 0 10px -3px gray, inset -5px 0 10px -2px gray;
  border: solid 2px gray;
}

.calculator__display {
  width: 100%;
  height: 4.5rem;
  padding: 0.5rem;
  background-color: #c6c6ad;
  color: #545454;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 4rem;
  text-align: right;
}

.calculator__numbers {
  display: flex;
  justify-content: space-evenly;
  
}

.calculator__row {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #34313e;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.9rem;
  border: 1.5px solid gray;
  box-shadow: inset 0px 1px 3px 1px gray;
  
  border-top-left-radius: 80%20px;
  border-top-right-radius: 80%20px;
  border-bottom-left-radius: 80%20px;
  border-bottom-right-radius: 80%20px;
}

.btn:active {
  box-shadow: inset 0px -2px 3px 1px gray;

}

#add {
  flex-grow: 1;
}

#ac, #ce {
  background-color: #b83d4d;
}