/* Game board and text not responsive yet*/

body {
  background-color:white;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  background-color: black !important;
  }
  
table {
    margin-right: center;
    margin-left: center;
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
  }
  

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2vw;
    color: #cdb1eb;
  }
  
td {
    width: 8vw;
    height: 8vw;
    text-align: center;
    font-size: 300%;
    border: #9f9ddb solid 3px;
    color: #9f9ddb;
  }

h2 {
  text-align: center;
  font-size: 2vw;
  color: #b0c4de;
}  

.highlight {
    animation-name: highlight-cell;
    animation-duration: 2s;
}

@keyframes highlight-cell {
    0% {
        background-color: #9f9ddb;
        opacity: 0;
    }
    100%{
        background-color: #b0c4de;
        color: black;
        opacity: 1;
    }
}


#subtitle {
    color: #f6b361;
}