@media screen and (min-width: 80rem) {
  .container {
    margin: 1em 2em;
  }
}
body{background-color: aquamarine;
  

}
h1 {text-align: center;
  font-family: Lobster;
}

.center-words{
  text-align: center;


 }
 .head {
  background-color: lightgreen;
 }
#span-1{color:coral}

#email{color:black;
text-align: center;
font-size: 10px;}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#two {
  position: relative;
  top: 20px;
  left: 20px;
  background: blue;
  margin-bottom: 50pt;
}
.research-q{font-size: 40pt;
font-family: 'Courier New', Courier, monospace;
text-align: center;}
li {font-size: 20pt;}
.fixedbutton {
  position: fixed;
  bottom: 0px;
  right: 0px; 
  padding: 20px;
}
