* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}



li{
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}



.container {
  display: flex;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 100px;
  height: auto;
}



.nav a {
  margin: 0 1rem;
  padding: 0 1rem;
  font-weight: 500;
}

.nav a:hover {
  background-color: #f6e7e6;
}

main {
  display: flex;
  padding: 2rem 3rem;
}

main .profile-image {
  width: 100%;
  flex: 1.5;
  margin-right: 2rem;
 
}

main .introduction {
  flex: 1;
}

main .introduction h1 {
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2.5rem;
}

main .introduction p {
  line-height: 2rem;
}

.blogs{
  display: flex;
  padding:1rem 3rem;
  margin-bottom: 2rem;

}

.blogs .tech-blog, .blogs .core-blog {
  flex:1;
  padding:0 3px;
  margin:0 3rem;
  text-align: center;
  border:2px solid #f6e7e6;
  border-radius: 20px;
}



.blogs h3{
  margin: 1rem 0;
  font-weight: 600;
  text-align: center;
  
}



.blogs a{
  text-decoration: underline;
  line-height: 2rem;
}

.main-blog{
    flex-direction: column;
    align-self: center;
    max-width: 1200px;
}

.main-blog h1{
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;

}

.main-blog h2{
  font-weight: 500;
  margin-top:1rem ;
}

.main-blog h3{
  font-weight: 500;
  margin:1rem 0;
}

.main-blog ul li{
  margin-bottom: 0.5rem;
}

.main-blog .css-image{
 max-width: 300px;
 margin: 1rem 0;
}

.main-blog .div-image{
  max-width: 600px;
  margin-top: 1rem;
 }

 .main-blog p{
  margin: 0.2rem 0;
  line-height: 2rem;
 }

 .main-blog a{
  text-decoration: underline;
 }

 .main-blog .page-nav{
  margin-top: 1rem;
  display: flex;
  gap:1rem;
  justify-content: center;
 }

 .main-blog .page-nav a{
  color:blue;
  text-decoration: underline;
 }

footer {
  padding: 3rem;
  background-color: #f6e7e6;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  main {
    flex-direction: column;
  }

  main .introduction h1 {
    margin-top: 1rem;
    text-align: center;
  }

  main .introduction p {
    line-height: 2rem;
  }

  .blogs{
  flex-direction: column;
  gap:2rem;
  }

  .blogs .tech-blog, .blogs .core-blog{
    margin:0;
  }

}

@media screen and (max-width: 768px) {
  main {
    padding: 2rem;
  }

  main .introduction h1 {
    font-size: 2rem;
  }

  .main-blog h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {

    .nav a {
        margin: 0;
        padding: 0 0.4rem;
      }

      .blogs a{
        line-height: 2.5rem;
      }
  
  }

@media screen and (max-width: 320px) {


  main .introduction h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .main-blog h1{
    font-size: 1.2rem;
  }
}
